.thumbnail1{

margin: 10px;
padding: 1px 3px 5px 3px;
border: 1px solid #55a686;
width: 270px;
height:200px;
float: left;
text-align: center;
border-radius:15px;
    box-shadow: 10px 10px 5px #888888;

}